.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-grid{
  text-align:center;
  /* position:fixed; */
  left:0;
  width:100%;
  /* height:100%; */
}

.avatar-img{
  height:250px;
  padding-top:5em;
  margin:0 auto;
}

.banner-text{
  /* background-color:black; */
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity:.6;
  width: 75%;
  margin:auto;
  border-radius:10px;
}
.banner-text h1{
  font-size:66px;
  font-weight:bold;
  color:white;
  text-align: center;
}

.banner-text hr{
  border-top:5px dotted white;
  width:50%;
  margin:auto;
}

.banner-text p{
  text-align: center;
  color:white;
  font-size:20px;
  padding:1em;
}

.social-links{
  display:flex;
  justify-content: space-between;
  width:50%;
  margin:auto;
}

.social-links i{
  color:white;
  font-size:5em;
  padding:8px;
}

.projects-grid{
  margin:auto;
  width:90%;
  display:flex;
  justify-content: space-between;
}

/* contact */
.contact-body{
  margin:auto;
  position:fixed;
  width:100%;
  height:100%;
  justify-content: center;
  padding-top:2em;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width:80%;
  height:550px;
  background:white;
  color:black;
  margin-bottom:20px;
}

.contact-grid h2{
  font-family:'Anton', san-serif;
}

.contact-grid p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr{
  border-top:5px dotted black;
  width:50%;
  margin:auto;
}

.contact-list i{
  font-size:50px;
  padding-right:5rem;
}

/* resume */
.resume-right-col{
  background:#27221F;
  color:white;
  padding:2em;
}


/* main */
.page-content{
  width: 100%;
  height:100%;
  margin:0;
  padding:0;
  transform-style: preserve-3d;
}

.nav-icon{
  position:fixed;
  top:21px;
  right:21px;
  height:36px;
  width:36px;
  /* background:red; */
  perspective: 200px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.nav-icon .nav-line{
  margin:8px 6px 8px 6px;
  width:22px;
  height: 1px;
  background: white;
  transition: all .1s ease-out;
}

/* onhover */
.nav-icon:hover .nav-line:nth-child(1){
  margin-right:0;
  width:27px;
}
.nav-icon:hover .nav-line:nth-child(2){
  width:18px;
  margin:8px 8px 8px 8px;
}
.nav-icon:hover .nav-line:nth-child(3){
  margin-left:0;
  width:27px;
}
/* nav-line-clicked */
.nav-icon .nav-line-actived-1{
  margin:8px 6px 8px 6px;
  width:27px;
  height: 1px;
  background: red;
  transform: translate(0, 8px) rotate(45deg);
}
.nav-icon .nav-line-actived-2{
  margin:8px 6px 8px 6px;
  width:27px;
  height: 1px;
  opacity:0;
}
.nav-icon .nav-line-actived-3{
  margin:8px 6px 8px 6px;
  width:27px;
  height: 1px;
  background: red;
  transform: translate(0, -8px) rotate(-45deg);
}

/* nav-menu nav-card */
.nav-menu{
  height:100vh;
  width:100vw;
  /* background:#181818; */
  position: absolute;
  overflow: hidden;
  perspective: 100px;
  transform-style: preserve-3d; 
  transition: background-color 0.75s cubic-bezier(0.05, 0.95, 1, 1);
}
.nav-menu .nav-card{
  width:150px;
  height:100%;
  text-align:center;
  color:white;
  padding-top:27px;
  cursor: pointer;
  background:#181818;
  display:inline-block;
  perspective: 100px;
  transform-style: preserve-3d;
  box-shadow: -12px 0px 15px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  transition: left 0.75s cubic-bezier(0.15, 0.96, 0.96, 0.96), opacity 0.75s cubic-bezier(0.9, 0.05, 0.9, 0.9), width 0.2s cubic-bezier(0.3, 0.15, 0.95, 0.15);
}
.nav-menu .nav-card:nth-child(1){
  left:1840px;
}
.nav-menu .nav-card:nth-child(1) a{
  opacity: 0;
}
.nav-menu .nav-card:nth-child(2){
  left:2140px;
  opacity: 0.1;
}
.nav-menu .nav-card:nth-child(3){
  left:2740px;
  opacity: 0.1;
}
.nav-menu .nav-card:nth-child(4){
  left:3640px;
  opacity: 0.1;
}
.nav-menu .nav-card:nth-child(5){
  left:4840px;
  opacity: 0.1;
}
.nav-menu:hover{
  background-color:#181818;
}
.card-child-1{ 
  left:0;
}
.card-child-1 a{
  opacity: 1;
}
.card-child-2{ 
  left:0;
  opacity: 1;
}
.card-child-3{ 
  left:0;
  opacity: 1;
}
.card-child-4{ 
  left:0;
  opacity: 1;
}
.card-child-5{ 
  left:0;
  opacity: 1;
}

.nav-menu .nav-card a{
  color:#7d7d7d;
  font-size:15px;
  font-weight: 300;
  font-family: DistrictDemi W00 Regular,arial,tahoma,sans-serif;
  text-decoration: none;
}

.nav-card:nth-child(2):hover a{
  color:white;
}
/* .nav-card:nth-child(2):hover +.nav-card:nth-child(1){
  width:0;
} */
.nav-card:nth-child(2):hover{
  opacity: 0.1;
  width:85vw;
}

.nav-card:nth-child(3):hover a{
  color:white;
}
.nav-card:nth-child(4):hover a{
  color:white;
}
.nav-card:nth-child(5):hover a{
  color:white;
}

/* content container*/
.content-container{
  position:fixed;
  width:100%;
  height:100vh;
  perspective: 0px;
  transform-style: preserve-3d;
  background:#181818;
}