.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-color{
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align:center;
  /* position:fixed; */
  left:0;
  width:100%;
  height:100%;
}

.avatar-img{
  height:250px;
  padding-top:5em;
  margin:0 auto;
}

.banner-text{
  background-color:black;
  opacity:.7;
  width: 75%;
  margin:auto;
  border-radius:10px;
}
.banner-text h1{
  font-size:66px;
  font-weight:bold;
  color:white;
  text-align: center;
}

.banner-text hr{
  border-top:5px dotted white;
  width:50%;
  margin:auto;
}

.banner-text p{
  text-align: center;
  color:white;
  font-size:20px;
  padding:1em;
}

.social-links{
  display:flex;
  justify-content: space-between;
  width:50%;
  margin:auto;
}

.social-links i{
  color:white;
  font-size:5em;
  padding:8px;
}

.projects-grid{
  margin:auto;
  width:90%;
  display:flex;
  justify-content: space-between;
}

/* contact */
.contact-body{
  margin:auto;
  position:fixed;
  width:100%;
  height:100%;
  justify-content: center;
  padding-top:2em;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width:80%;
  height:550px;
  background:white;
  color:black;
  margin-bottom:20px;
}

.contact-grid h2{
  font-family:'Anton', san-serif;
}

.contact-grid p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr{
  border-top:5px dotted black;
  width:50%;
  margin:auto;
}

.contact-list i{
  font-size:50px;
  padding-right:5rem;
}

/* resume */
.resume-right-col{
  background:#27221F;
  color:white;
  padding:2em;
}


/* page-content */
.page-content{
  width: 100%;
  height:100%;
  transform-style: preserve-3d;
}

.nav-menu{
  width:90px;
  height:100vh;
  background:#181818;
  position: absolute;
  right:0;
  perspective: 100px;
  transform-style: preserve-3d;
  box-shadow: -9px 0px 9px 5px black;
}

.content-container{
  perspective: 0px;
  transform-style: preserve-3d;
}