<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap  CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Index Page</title>
    <style>
        body {
            padding: 0 60px;
        }

        .navbar {
            background: lightgray;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="#">Clock In/Out</a>
            <a href="#">Points</a>
            <a href="#">Daily Report</a>
            <a href="#">Settings</a>
            <a href="/login">Log In</a>
        </div>
    </nav>
    <div class="content">
        <div class="container">
            <h1>Welcome To The System</h1>
        </div>
        <div class="bottom-container">
            <div class="items">
                <h3>Manage Employees</h3>
                <h4>Using this application, admins will be able to add, remove, and edit employees for the application.
                </h4>
            </div>
            <div class="items">
                <h3>Daily Update</h3>
                <h4>Users will be able to update what's done today.</h4>
            </div>
            <div class="items">
                <h3>Tracking Performance</h3>
                <h4>All users can user this app to track his own daily-performance</h4>
            </div>
        </div>
    </div>
</body>

</html>